In [382]:
# importuje niezbędne biblioteki
import pandas as pd
import numpy as np
from tkinter import filedialog
from tkinter import *
import os
import glob

In [383]:
# Tworzymy listę i dwa puste DF
listOfFiles = []
DFL = pd.DataFrame()
DFM = pd.DataFrame()

In [384]:
# Funkcja pobiera listę ścieżek
def get_filenames():
    Tk().withdraw()
    print("Initializing Dialogue... \nPlease select a file.")
    tk_filenames = filedialog.askdirectory()
    tempDir = tk_filenames
    return tempDir


choosen_dir = get_filenames()
# glob zbiera listę plików 
os.chdir(choosen_dir)
for file in glob.glob("*.csv"):
    listOfFiles.append(file)

# Do wcześniej stworzonych DF dodajemy kolejno pliki w zależności od tego na jaką literę plik się zaczyna.
for file in listOfFiles:
    if file.startswith('L'):
        Table = pd.read_csv(file, sep=',')
        DF1 = pd.DataFrame(Table)
        DFL = DFL.append(DF1, sort=False)
    elif file.startswith('M'):
        Table2 = pd.read_csv(file, sep=',')
        DF2 = pd.DataFrame(Table2)
        DFM = DFM.append(DF2, sort=False)

Initializing Dialogue...
Please select a file.

In [385]:
# Deklaruje listę kolumn którę będą mi potrzebne
DFL['NMIOT'] = 1
cols1 = ['LPROS1', 'SUTKI_L', 'SUTKI_P', 'LRASA1', 'LDUR', 'LDOP', 'LRASAOJ', 'LIL11', 'LIL21','LWAGA1','M_WAGUR','LDBRAK','NMIOT','LREJ1',
        'LWOJ1', 'LSEK1', 'LSTA1','NROJM1','LSUT1', 'NRMAM1', 'NOJMIO']
DFL = DFL[cols1]

In [395]:
rasa = DFM['LRASA1'] == 60
DFM[rasa]

,LPROS1,LRASA1,LDUR,LDOP,LRASAOJ,LIL11,LIL21,LWAGA1,M_WAGUR,LDBRAK,NMIOT,LREJ1,LWOJ1,LSEK1,LSTA1,LSUT1,NROJM1
4742,06440003419,60,2020-09-01,2021-04-19,80,11,10,0,0.0,2022-02-01,2,6,4,2,440,NaN,I7501513152
4743,06440003419,60,2021-04-19,2021-10-05,80,11,10,0,0.0,2022-02-01,3,6,4,2,440,NaN,I7501513152
4745,06440003619,60,2020-11-30,2021-06-04,70,11,10,0,0.0,NaN,3,6,4,2,440,NaN,I7502121/20
4746,06440003619,60,2021-06-04,2021-10-26,80,14,12,0,0.0,NaN,4,6,4,2,440,NaN,I7501600121
4748,06440003719,60,2020-11-05,2021-06-03,80,12,10,0,0.0,2022-02-01,3,6,4,2,440,NaN,I7501555520
4749,06440003719,60,2021-06-03,2021-10-26,80,12,11,0,0.0,2022-02-01,4,6,4,2,440,NaN,I7501600121
4751,06440003819,60,2020-07-20,2021-01-14,80,12,11,0,0.0,NaN,3,6,4,2,440,NaN,I7501513152
4752,06440003819,60,2021-01-14,2021-07-29,70,10,9,0,0.0,NaN,4,6,4,2,440,NaN,I7502121/20
4755,06440004019,60,2020-06-29,2021-03-07,80,11,10,0,0.0,NaN,3,6,4,2,440,NaN,I7501513152
4756,06440004019,60,2021-03-07,2021-08-17,80,12,10,0,0.0,NaN,4,6,4,2,440,NaN,I7501513152
4758,06440011216,60,2020-06-12,2020-12-23,80,11,10,0,0.0,2022-02-01,8,6,4,2,440,NaN,I7501402237
4759,06440011216,60,2020-12-23,2021-07-12,80,12,11,0,0.0,2022-02-01,9,6,4,2,440,NaN,I7501513152
4760,06440011216,60,2021-07-12,2021-11-29,80,11,10,0,0.0,2022-02-01,10,6,4,2,440,NaN,I7501600121
4763,06440012016,60,2020-11-05,2021-05-12,80,12,11,0,0.0,NaN,8,6,4,2,440,NaN,I7501513152
4764,06440012016,60,2021-05-12,2021-10-26,80,13,11,0,0.0,NaN,9,6,4,2,440,NaN,I7501570151
4766,06440012514,60,2020-07-20,2021-03-28,80,12,10,0,0.0,NaN,12,6,4,2,440,NaN,I7501513152
4767,06440012514,60,2021-03-28,2021-09-12,60,13,12,0,0.0,NaN,13,6,4,2,440,NaN,I037413/13
4770,I053313/13,60,2020-09-01,2021-02-05,60,12,11,0,0.0,NaN,16,6,4,2,440,NaN,I037413/13
4771,I053313/13,60,2021-02-05,2021-09-12,60,13,12,0,0.0,NaN,17,6,4,2,440,NaN,I037413/13
4774,I054413/13,60,2020-11-30,2021-07-29,60,12,11,0,0.0,NaN,16,6,4,2,440,NaN,I037413/13
4778,I055313/13,60,2020-11-05,2021-05-12,60,14,12,0,0.0,NaN,16,6,4,2,440,NaN,I037413/13
4781,I055513/13,60,2020-10-13,2021-03-07,60,13,12,0,0.0,NaN,15,6,4,2,440,NaN,I037413/13
4782,I055513/13,60,2021-03-07,2021-11-29,60,10,9,0,0.0,NaN,16,6,4,2,440,NaN,I037413/13

In [387]:
# Zmieniam nazwy kolumn tak by odpowiadały kolumnon z DFL
DFM['LSUT1'] = np.nan  
DFM = DFM.rename(columns={'LDUR': 'LDUR1'})
DFM = DFM.rename(columns={'LDOP': 'LDUR'})
DFM = DFM.rename(columns={'LDUR1': 'LDOP'})
DFM = DFM.rename(columns={'RASAOJ': 'LRASAOJ'})
DFM = DFM.rename(columns={'NRO': 'NROJM1'})
DFM = DFM.rename(columns={'LREJ': 'LREJ1'})
DFM = DFM.rename(columns={'LWOJ': 'LWOJ1'})
# Deklaruje listę kolumn którę będą mi potrzebne
cols2 = ['LPROS1', 'LRASA1', 'LDUR', 'LDOP', 'LRASAOJ', 'LIL11', 'LIL21','LWAGA1','M_WAGUR','LDBRAK','NMIOT','LREJ1',
        'LWOJ1', 'LSEK1', 'LSTA1','LSUT1','NROJM1']
DFM = DFM[cols2]

In [388]:
# Wypełniam NaN'y zerami
DFL['SUTKI_L'].fillna(0, inplace=True)
DFL['SUTKI_P'].fillna(0, inplace=True)
DFL['LSUT1'].fillna(0, inplace=True)
# Rozdzielam sutki prawe od lewych
DFL['PSUT'] = DFL['LSUT1'].astype(str).str[1]
DFL['LSUT1'] = DFL['LSUT1'].astype(str).str[0]
DFL['PSUT'].replace('.','0',inplace = True)

In [389]:
# Convertuje liczby sutków do inta
convert_dict = {'LSUT1': int,
                'PSUT': int
               }
  
DFL = DFL.astype(convert_dict)

In [390]:
# Liczę sumę sutków prawych i lewych
DFL['ISUT'] = DFL['PSUT'] + DFL['LSUT1'] + DFL['SUTKI_P'] + DFL['SUTKI_L']

In [391]:
# Wprowadzamy przedział czasowy z jakiego będą pobieranie dane
date1 = input('Date range from YYYY-MM-DD') 
date2 = input('Date range to YYYY-MM-DD')

Date range from YYYY-MM-DD 2020-12-12
Date range to YYYY-MM-DD 2021-12-11

In [393]:
# Funkcja zamienia format kolumn na format daty
class ToDate():

    def change_to_date(self, a, b):
        a[b] = pd.to_datetime(a[b])


dat = ToDate()
dat.change_to_date(DFL, 'LDOP')
dat.change_to_date(DFM, 'LDOP')
dat.change_to_date(DFL, 'LDUR')
dat.change_to_date(DFM, 'LDUR')

In [394]:
# W DF zostawaimy tylko dane z wcześniej zadeklarowanego przedziału czasowego
DFL = DFL[(DFL['LDOP'] >= date1) & (DFL['LDOP'] <= date2)]
DFM = DFM[(DFM['LDOP'] >= date1) & (DFM['LDOP'] <= date2)]

In [396]:
# Wyliczamy:
# Datę pierwszego oprosienia
DFL['POP'] = DFL['LDOP'] - DFL['LDUR']
# Okres międzymiotu
DFM['OMM'] = DFM['LDOP'] - DFM['LDUR']
# Zamieniam ww wartości na dni
DFL['POP'] = DFL['POP'] / np.timedelta64(1, 'D')
DFM['OMM'] = DFM['OMM'] / np.timedelta64(1, 'D')

In [397]:
# W zmiennej DF3 łączymy poprzednie DF
DF3 = pd.concat([DFL,DFM])

In [398]:
DF3 = DF3.rename(columns={'LDUR': 'DURL'})
DF3 = DF3.rename(columns={'LDOP': 'DURM'})

In [399]:
# Wyliczamy ile prosiąt nie dożyło 21 dnia życia
DF3['STRATY'] = DF3['LIL11'] - DF3['LIL21']

In [400]:
# Wyliczamy wartość % strat
DF3['ST21'] = (DF3['STRATY'] / DF3['LIL11']) * 100

In [401]:
# Funkcja tworzy DF z określonymi już kolumnami
def createDT(name):
    temp = pd.DataFrame(columns = ['Rasa','liczba loch','liczba ocenionych miotów ogółem', 
                                   'liczba ocenionych miotów pierw.','Liczba prosiąt urodzonych w miocie',
                                   'Liczba prosiąt w 21 dniu życia','Straty prosiąt do 21 dnia życia','Liczba sutków lochy',
                                   'Wiek w dniu pierwszego oprosienia(dni)','Okres miedzymiotu(dni)'],index =[1])
    temp['Rasa'] = name
    return temp

In [402]:
# Funkcja sortuje dane po odpowiedniej rasie
def sortedDT(DT, col, number):
    newDT = DT[DT[col] == number]
    return newDT
# Funkcja sortuje dane po rasie matki i rasie ojca
def sorted2DT(DT,number1,number2):
    newDT = DT[(DT.LRASA1 == number1) & (DT.LRASAOJ == number2)]
    return newDT

def months(DT, col, col2):
    newDT = DT[DT[col] != DT[col2]]
    return newDT

In [403]:
# Funkcja wylicza wszystkie niezbędne wartości i przypisuje je do DF
def all_count(DF3, new):
    new['liczba loch'] = len(DF3.drop_duplicates(subset='LPROS1', keep="first").copy())
    new['liczba ocenionych miotów ogółem'] = len(DF3)
    new['liczba ocenionych miotów pierw.'] = len(DF3[DF3['NMIOT']==1])
    new['Liczba prosiąt urodzonych w miocie'] = np.around(DF3['LIL11'].mean(), decimals=2)
    new['Liczba prosiąt w 21 dniu życia'] = np.around(DF3['LIL21'].mean(), decimals=2)
    new['Straty prosiąt do 21 dnia życia'] = np.around(DF3['ST21'].mean(), decimals=2)
    new['Wiek w dniu pierwszego oprosienia(dni)'] = np.around(DF3['POP'].mean())
    new['Okres miedzymiotu(dni)'] = np.around(DF3['OMM'].mean())
    new['Liczba sutków lochy'] = np.around(DF3['ISUT'].mean(), decimals=2)

    return new

In [404]:
WBP = createDT('Wbp')
wbp = sortedDT(DF3,'LRASA1',10).copy()
all_count(wbp,WBP)

PBZ = createDT('Pbz')
pbz = sortedDT(DF3,'LRASA1',20).copy()
all_count(pbz,PBZ)

HAMP = createDT('Hampshire')
hamp = sortedDT(DF3,'LRASA1',60).copy()
all_count(hamp,HAMP)

DUR = createDT('Duroc')
dur = sortedDT(DF3,'LRASA1',70).copy()
all_count(dur,DUR)

PIET = createDT('Pietrain')
piet = sortedDT(DF3,'LRASA1',80).copy()
all_count(piet,PIET)

L99 = createDT('Linia 990')
l99 = sortedDT(DF3,'LRASA1',90).copy()
all_count(l99,L99)

ZB = createDT('Złotnicka Biała')
zb = sortedDT(DF3,'LRASA1',30).copy()
all_count(zb,ZB)

ZPS = createDT('Złotnicka Pstra')
zps = sortedDT(DF3,'LRASA1',50).copy()
all_count(zps,ZPS)

PULA = createDT('Puławska')
pula = sortedDT(DF3,'LRASA1',40).copy()
all_count(pula,PULA)

,Rasa,liczba loch,liczba ocenionych miotów ogółem,liczba ocenionych miotów pierw.,Liczba prosiąt urodzonych w miocie,Liczba prosiąt w 21 dniu życia,Straty prosiąt do 21 dnia życia,Liczba sutków lochy,Wiek w dniu pierwszego oprosienia(dni),Okres miedzymiotu(dni)
1,Puławska,2256,3683,659,10.12,9.05,9.89,14.39,369.0,200.0

In [405]:
#Łącze wyniki ras w jeden DF i ustalam Rasę jako index
rasaDF = pd.concat([WBP,PBZ,HAMP,DUR,PIET,L99,PULA,ZB,ZPS])
rasaDF.set_index('Rasa',inplace=True)
rasaDF

,liczba loch,liczba ocenionych miotów ogółem,liczba ocenionych miotów pierw.,Liczba prosiąt urodzonych w miocie,Liczba prosiąt w 21 dniu życia,Straty prosiąt do 21 dnia życia,Liczba sutków lochy,Wiek w dniu pierwszego oprosienia(dni),Okres miedzymiotu(dni)
Rasa,,,,,,,,,
Wbp,1632,2678,539,12.60,11.73,6.37,15.12,367.0,167.0
Pbz,2570,4298,848,12.66,11.72,6.94,15.37,359.0,172.0
Hampshire,12,23,0,11.91,10.65,10.50,NaN,NaN,191.0
Duroc,305,508,115,11.79,10.85,7.46,13.34,371.0,176.0
Pietrain,249,399,69,11.60,10.88,5.92,14.07,395.0,177.0
Linia 990,598,1003,197,10.06,9.72,3.40,13.99,369.0,153.0
Puławska,2256,3683,659,10.12,9.05,9.89,14.39,369.0,200.0
Złotnicka Biała,895,1173,317,8.21,7.69,5.37,14.18,364.0,221.0
Złotnicka Pstra,861,1079,120,8.28,7.40,10.03,13.49,370.0,300.0

In [406]:
# Deklaruje słoknik miast
dic_miasta = {1:'Poznań',
             2:'Warszawa',
             3:'Poznań',
             4:'Białystok',
             6:'Bydgoszcz',
             8:'Gdańsk',
             10:'Katowice',
             12:'Kielce',
             14:'Koszalin',
             16:'Kraków',
             18:'Lublin',
             20:'Łódź',
             22:'Olsztyn',
             24:'Opole',
             26:'Poznań',
             28:'Rzeszów',
             32:'Wrocław',
             34:'Zielona Góra',
             98:'98'}
# Deklaruje listę wydzielonych ras
race_list = [wbp,pbz,hamp,dur,piet,l99,zb,zps,pula]
race_names = ['WBP','PBZ','Hampshire','Duroc','Pietrain','Linia 990','PUL','ZLB','ZLP']

In [407]:
def create_cityDT(city, race):
    temp = pd.DataFrame(columns = ['Rasa', 'Miasto','liczba loch','liczba ocenionych miotów ogółem', 
                                   'liczba ocenionych miotów pierw.','Liczba prosiąt urodzonych w miocie',
                                   'Liczba prosiąt w 21 dniu życia','Straty prosiąt do 21 dnia życia','Liczba sutków lochy',
                                   'Wiek w dniu pierwszego oprosienia(dni)','Okres miedzymiotu(dni)'],index =[1])
    temp['Miasto'] = city
    if race is wbp:
        temp['Rasa'] = "WBP"
    elif race is pbz:
        temp['Rasa'] = "PBZ"
    elif race is hamp:
        temp['Rasa'] = "Hampshire"
    elif race is dur:
        temp['Rasa'] = "Duroc"
    elif race is piet:
        temp['Rasa'] = "Pietrain"
    elif race is l99:
        temp['Rasa'] = "Linia 99"
    elif race is zb:
        temp['Rasa'] = "Złotnicka Biała"
    elif race is zps:
        temp['Rasa'] = "Złotnicka Pstra"
    elif race is pula:
        temp['Rasa'] = "Puławska"
    return temp

cityDF = pd.DataFrame(columns = ['Rasa', 'Miasto','liczba loch','liczba ocenionych miotów ogółem', 
                                   'liczba ocenionych miotów pierw.','Liczba prosiąt urodzonych w miocie',
                                   'Liczba prosiąt w 21 dniu życia','Straty prosiąt do 21 dnia życia','Liczba sutków lochy',
                                   'Wiek w dniu pierwszego oprosienia(dni)','Okres miedzymiotu(dni)'],index =[1])

temp =  pd.DataFrame(columns = ['Rasa', 'Miasto','liczba loch','liczba ocenionych miotów ogółem', 
                                   'liczba ocenionych miotów pierw.','Liczba prosiąt urodzonych w miocie',
                                   'Liczba prosiąt w 21 dniu życia','Straty prosiąt do 21 dnia życia','Liczba sutków lochy',
                                   'Wiek w dniu pierwszego oprosienia(dni)','Okres miedzymiotu(dni)'],index =[1])

In [408]:
CompleteCityDF = pd.DataFrame()

for city in dic_miasta:
    for race in race_list:
        tempDF = create_cityDT(dic_miasta[city],race)    
        tempDF2 = sortedDT(race, "LREJ1", city)
        rdy = all_count(tempDF2,tempDF)
        CompleteCityDF = pd.concat([CompleteCityDF,rdy])

In [409]:
CompleteCityDF['Okres miedzymiotu(dni)'] = CompleteCityDF['Okres miedzymiotu(dni)'].fillna('-')
CompleteCityDF['Liczba sutków lochy'] = CompleteCityDF['Liczba sutków lochy'].fillna('-')
CompleteCityDF['Wiek w dniu pierwszego oprosienia(dni)'] = CompleteCityDF['Wiek w dniu pierwszego oprosienia(dni)'].fillna('-')
CompleteCityDF = CompleteCityDF.set_index(['Rasa','Miasto']).sort_index(ascending = True).dropna()

In [410]:
pd.set_option('display.max_rows',None)
CompleteCityDF

                              liczba loch  liczba ocenionych miotów ogółem  \
Rasa            Miasto
Duroc           98                     50                               79
                Bydgoszcz             116                              210
                Gdańsk                  6                                7
                Olsztyn                32                               46
                Poznań                 63                              115
                Warszawa               15                               23
                Łódź                   23                               28
Hampshire       Bydgoszcz              12                               23
Linia 99        Poznań                598                             1003
PBZ             98                    330                              556
                Białystok               3                                4
                Bydgoszcz             664                             1131
                Gdańsk                252                              421
                Katowice              105                              167
                Kielce                 77                              128
                Kraków                 26                               42
                Lublin                 20                               35
                Olsztyn               125                              172
                Opole                  89                              146
                Poznań                521                              896
                Rzeszów                39                               60
                Warszawa              124                              207
                Zielona Góra           25                               53
                Łódź                  170                              280
Pietrain        Bydgoszcz              64                              112
                Gdańsk                  8                               11
                Katowice                9                               15
                Olsztyn                90                              129
                Opole                  38                               64
                Poznań                 30                               56
                Łódź                   10                               12
Puławska        Białystok             100                              167
                Bydgoszcz             410                              627
                Gdańsk                156                              284
                Katowice               10                               10
                Kielce                 12                               25
                Koszalin               38                               47
                Kraków                 30                               52
                Lublin                995                             1649
                Olsztyn                21                               45
                Opole                  86                              131
                Poznań                 28                               44
                Warszawa              364                              595
                Łódź                    6                                7
WBP             98                    281                              418
                Białystok              30                               62
                Bydgoszcz             536                              928
                Gdańsk                 87                              138
                Lublin                 59                              101
                Olsztyn                50                               81
                Opole                   6                                6
                Poznań                369                              619
                Rzeszów                68                              110
                Warszawa               37                               45
                Wrocław                32                               59
                Zielona Góra           19                               23
                Łódź                   58                               88
Złotnicka Biała Poznań                895                             1173
Złotnicka Pstra Poznań                861                             1079

                              liczba ocenionych miotów pierw.  \
Rasa            Miasto
Duroc           98                                         23
                Bydgoszcz                                  36
                Gdańsk                                      2
                Olsztyn                                    11
                Poznań                                     19
                Warszawa                                    7
                Łódź                                       17
Hampshire       Bydgoszcz                                   0
Linia 99        Poznań                                    197
PBZ             98                                        135
                Białystok                                   0
                Bydgoszcz                                 176
                Gdańsk                                     85
                Katowice                                   33
                Kielce                                     21
                Kraków                                      3
                Lublin                                     12
                Olsztyn                                    28
                Opole                                      40
                Poznań                                    179
                Rzeszów                                    12
                Warszawa                                   53
                Zielona Góra                                7
                Łódź                                       64
Pietrain        Bydgoszcz                                  21
                Gdańsk                                      1
                Katowice                                    0
                Olsztyn                                    25
                Opole                                       5
                Poznań                                     11
                Łódź                                        6
Puławska        Białystok                                  51
                Bydgoszcz                                 144
                Gdańsk                                     55
                Katowice                                   10
                Kielce                                      2
                Koszalin                                   10
                Kraków                                      4
                Lublin                                    242
                Olsztyn                                     9
                Opole                                      23
                Poznań                                     13
                Warszawa                                   93
                Łódź                                        3
WBP             98                                        103
                Białystok                                   0
                Bydgoszcz                                 159
                Gdańsk                                     33
                Lublin                                     21
                Olsztyn                                    21
                Opole                                       6
                Poznań                                    110
                Rzeszów                                    22
                Warszawa                                   28
                Wrocław                                    15
                Zielona Góra                                5
                Łódź                                       16
Złotnicka Biała Poznań                                    317
Złotnicka Pstra Poznań                                    120

                              Liczba prosiąt urodzonych w miocie  \
Rasa            Miasto
Duroc           98                                         11.47
                Bydgoszcz                                  11.88
                Gdańsk                                     11.00
                Olsztyn                                    11.20
                Poznań                                     12.79
                Warszawa                                   11.22
                Łódź                                        9.64
Hampshire       Bydgoszcz                                  11.91
Linia 99        Poznań                                     10.06
PBZ             98                                         12.91
                Białystok                                  10.50
                Bydgoszcz                                  12.60
                Gdańsk                                     12.34
                Katowice                                   12.11
                Kielce                                     12.60
                Kraków                                     12.57
                Lublin                                     12.74
                Olsztyn                                    12.43
                Opole                                      12.34
                Poznań                                     12.87
                Rzeszów                                    11.32
                Warszawa                                   13.25
                Zielona Góra                               12.26
                Łódź                                       12.84
Pietrain        Bydgoszcz                                  11.96
                Gdańsk                                     10.36
                Katowice                                   11.13
                Olsztyn                                    11.90
                Opole                                      10.56
                Poznań                                     12.21
                Łódź                                        9.25
Puławska        Białystok                                   9.23
                Bydgoszcz                                   9.25
                Gdańsk                                     10.04
                Katowice                                    8.20
                Kielce                                     11.44
                Koszalin                                    9.45
                Kraków                                     11.27
                Lublin                                     10.83
                Olsztyn                                     9.18
                Opole                                       8.74
                Poznań                                     10.48
                Warszawa                                    9.65
                Łódź                                        6.29
WBP             98                                         12.45
                Białystok                                  13.82
                Bydgoszcz                                  12.83
                Gdańsk                                     11.45
                Lublin                                     12.83
                Olsztyn                                    12.52
                Opole                                       9.33
                Poznań                                     12.61
                Rzeszów                                    12.03
                Warszawa                                   12.20
                Wrocław                                    12.59
                Zielona Góra                               11.91
                Łódź                                       12.89
Złotnicka Biała Poznań                                      8.21
Złotnicka Pstra Poznań                                      8.28

                              Liczba prosiąt w 21 dniu życia  \
Rasa            Miasto
Duroc           98                                     11.13
                Bydgoszcz                              10.87
                Gdańsk                                 10.00
                Olsztyn                                10.89
                Poznań                                 11.30
                Warszawa                               10.26
                Łódź                                    8.75
Hampshire       Bydgoszcz                              10.65
Linia 99        Poznań                                  9.72
PBZ             98                                     12.72
                Białystok                              10.50
                Bydgoszcz                              11.73
                Gdańsk                                 11.21
                Katowice                               10.57
                Kielce                                 11.04
                Kraków                                 11.64
                Lublin                                 11.17
                Olsztyn                                11.99
                Opole                                  11.68
                Poznań                                 11.79
                Rzeszów                                10.10
                Warszawa                               12.14
                Zielona Góra                           11.40
                Łódź                                   11.32
Pietrain        Bydgoszcz                              11.06
                Gdańsk                                 10.09
                Katowice                                9.07
                Olsztyn                                11.67
                Opole                                   9.67
                Poznań                                 11.25
                Łódź                                    8.42
Puławska        Białystok                               8.14
                Bydgoszcz                               8.43
                Gdańsk                                  8.55
                Katowice                                7.60
                Kielce                                  9.24
                Koszalin                                8.83
                Kraków                                 10.38
                Lublin                                  9.45
                Olsztyn                                 9.02
                Opole                                   8.15
                Poznań                                  9.86
                Warszawa                                9.20
                Łódź                                    5.71
WBP             98                                     12.06
                Białystok                              12.05
                Bydgoszcz                              11.85
                Gdańsk                                 10.52
                Lublin                                 11.05
                Olsztyn                                12.15
                Opole                                   8.17
                Poznań                                 11.96
                Rzeszów                                10.94
                Warszawa                               11.04
                Wrocław                                11.46
                Zielona Góra                           11.30
                Łódź                                   11.32
Złotnicka Biała Poznań                                  7.69
Złotnicka Pstra Poznań                                  7.40

                              Straty prosiąt do 21 dnia życia  \
Rasa            Miasto
Duroc           98                                       2.60
                Bydgoszcz                                7.96
                Gdańsk                                   9.52
                Olsztyn                                  2.55
                Poznań                                  11.26
                Warszawa                                 8.22
                Łódź                                     8.70
Hampshire       Bydgoszcz                               10.50
Linia 99        Poznań                                   3.40
PBZ             98                                       1.30
                Białystok                                0.00
                Bydgoszcz                                6.66
                Gdańsk                                   8.05
                Katowice                                12.23
                Kielce                                  11.25
                Kraków                                   7.07
                Lublin                                  12.25
                Olsztyn                                  3.44
                Opole                                    5.31
                Poznań                                   7.83
                Rzeszów                                 10.10
                Warszawa                                 7.72
                Zielona Góra                             6.23
                Łódź                                    10.87
Pietrain        Bydgoszcz                                7.15
                Gdańsk                                   2.79
                Katowice                                18.54
                Olsztyn                                  1.83
                Opole                                    7.65
                Poznań                                   7.55
                Łódź                                     8.78
Puławska        Białystok                               10.97
                Bydgoszcz                                8.76
                Gdańsk                                  14.19
                Katowice                                 7.42
                Kielce                                  15.98
                Koszalin                                 6.42
                Kraków                                   7.41
                Lublin                                  12.39
                Olsztyn                                  1.31
                Opole                                    6.43
                Poznań                                   4.92
                Warszawa                                 3.91
                Łódź                                     8.93
WBP             98                                       3.12
                Białystok                               12.09
                Bydgoszcz                                6.89
                Gdańsk                                   7.24
                Lublin                                  13.72
                Olsztyn                                  2.79
                Opole                                   12.09
                Poznań                                   5.01
                Rzeszów                                  8.29
                Warszawa                                 8.64
                Wrocław                                  7.60
                Zielona Góra                             4.72
                Łódź                                    11.15
Złotnicka Biała Poznań                                   5.37
Złotnicka Pstra Poznań                                  10.03

                             Liczba sutków lochy  \
Rasa            Miasto
Duroc           98                          13.3
                Bydgoszcz                  13.03
                Gdańsk                      13.0
                Olsztyn                    14.27
                Poznań                     13.53

In [44]:
CompleteCityDF.to_csv(r"W:\Maciej.Olech\rozplodowa_rasa_miasto.csv")
rasaDF.to_csv(r"W:\Maciej.Olech\rozplodowa_rasa.csv")