In [8]:
import pandas as pd
from tkinter import Tk
from tkinter.filedialog import askopenfilenames


path_list = []
Tk().withdraw()
filename = askopenfilenames()
for path in filename:
    path_list.append(path)

df = pd.concat(
    map(pd.read_csv,path_list), ignore_index=True)

In [2]:
def mean_on_column(name_of_city, name_of_column):
    rslt_df = df.loc[df['KE'] == name_of_city,[name_of_column]].mean()[0]
    rslt_df = round(rslt_df, 2)
    
    return rslt_df

def sum_on_column(name_of_city, name_of_column):
    rslt_df = df.loc[df['KE'] == name_of_city,[name_of_column]].sum()[0]
    rslt_df = round(rslt_df, 2)
    return rslt_df

In [3]:
df["KE"].unique()

array(['UP', 'WR', 4, 'BY', 'GD', 'KL', '14', 'KO', 'KR', 'LB', 'LD',
       'OL', 'OP', 'PZ', 'RZ', 'WL', 'ZG'], dtype=object)

In [4]:
list_of_cities = list(df["KE"].unique())
print(list_of_cities)
print(df.head())

['UP', 'WR', 4, 'BY', 'GD', 'KL', '14', 'KO', 'KR', 'LB', 'LD', 'OL', 'OP', 'PZ', 'RZ', 'WL', 'ZG']
   KE  KS  KW  KSE  KP        KDOC  KH  KRO         KOJ  KRM  ...        KDUR  \
0  UP   1  30    2   2  2020-01-22  95   50  1005031017   50  ...  2019-06-05
1  UP   1  30    2   2  2020-01-22  95   50  1005031017   50  ...  2019-06-10
2  UP   1  30    2   2  2020-01-22  95   50  1005031017   50  ...  2019-06-10
3  UP   1  30    2   2  2020-01-22  95   50  1005031017   50  ...  2019-06-05
4  UP   1  30    2   2  2020-01-19  95   50  1005031017   50  ...  2019-05-24

   KY1 KY2   KY3  KY4   KY5   OKO  T_PRZYR  MIESO_PROC  T_INDEX
0  110   0  22.0    0  21.0  36.0      468        45.2       57
1  112   0  16.0    0  20.0  37.0      486        48.4       72
2  106   0  22.0    0  22.0  41.0      460        45.9       58
3  123   0  23.0    0  22.0  37.0      523        44.5       64
4  126   0  23.0    0  22.0  41.0      519        45.5       67

[5 rows x 22 columns]

In [5]:
list_of_column = ["KY1","KY3","KY5","OKO","T_PRZYR","MIESO_PROC","T_INDEX"]

In [6]:
def create_final_df(func):
    final_list = {}

    for i in list_of_column:
        temp_list = []
        for j in list_of_cities:
            temp_list.append(func(j,i))
            final_list[i] = temp_list
    final_list
    return pd.DataFrame.from_dict(final_list, orient="index", columns=list_of_cities)

In [7]:
final_data_frame = create_final_df(mean_on_column)
final_data_frame.to_csv(r'C:\Pliki po Dawidzie\STAN HODOWLI\Zestawione wyniki\srednie_wyniki_miast.csv') #Zapisywanie gotowego zestawienia do csv
display(final_data_frame)

,UP,WR,4,BY,GD,KL,14,KO,KR,LB,LD,OL,OP,PZ,RZ,WL,ZG
KY1,96.64,111.85,108.53,115.58,113.99,115.92,111.61,107.46,110.09,112.33,113.99,114.94,124.22,111.40,114.85,110.16,118.66
KY3,19.27,11.65,12.52,9.82,10.26,9.43,9.62,10.08,12.08,13.32,9.47,9.40,8.62,9.41,10.02,11.05,9.36
KY5,18.16,11.73,13.37,9.92,10.37,9.35,9.70,9.98,11.65,12.52,9.22,9.48,8.53,10.24,9.98,10.59,9.50
OKO,44.42,55.91,57.29,58.49,53.50,59.97,49.60,48.16,54.91,50.95,61.64,62.00,60.19,61.20,58.46,55.49,53.69
T_PRZYR,478.49,616.83,634.98,684.09,615.85,753.94,559.70,547.30,649.01,598.35,729.22,702.84,632.77,661.54,685.53,691.70,670.59
MIESO_PROC,49.65,57.93,56.51,59.70,58.55,59.76,58.55,57.48,56.75,55.27,60.53,60.82,62.28,60.56,59.47,57.14,58.74
T_INDEX,74.10,105.94,105.51,118.67,107.43,131.77,97.97,92.68,108.43,95.63,128.79,125.08,118.18,120.87,123.31,117.04,118.78

In [11]:
df2 = final_data_frame.T
display(df2)

       KY1    KY3    KY5    OKO  T_PRZYR  MIESO_PROC  T_INDEX
UP   96.64  19.27  18.16  44.42   478.49       49.65    74.10
WR  111.85  11.65  11.73  55.91   616.83       57.93   105.94
4   108.53  12.52  13.37  57.29   634.98       56.51   105.51
BY  115.58   9.82   9.92  58.49   684.09       59.70   118.67
GD  113.99  10.26  10.37  53.50   615.85       58.55   107.43
KL  115.92   9.43   9.35  59.97   753.94       59.76   131.77
14  111.61   9.62   9.70  49.60   559.70       58.55    97.97
KO  107.46  10.08   9.98  48.16   547.30       57.48    92.68
KR  110.09  12.08  11.65  54.91   649.01       56.75   108.43
LB  112.33  13.32  12.52  50.95   598.35       55.27    95.63
LD  113.99   9.47   9.22  61.64   729.22       60.53   128.79
OL  114.94   9.40   9.48  62.00   702.84       60.82   125.08
OP  124.22   8.62   8.53  60.19   632.77       62.28   118.18
PZ  111.40   9.41  10.24  61.20   661.54       60.56   120.87
RZ  114.85  10.02   9.98  58.46   685.53       59.47   123.31
WL  110.16  11.05  10.59  55.49   691.70       57.14   117.04
ZG  118.66   9.36   9.50  53.69   670.59       58.74   118.78